<ion-header>        
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>        
        <ion-title *ngIf="!isSearchBar">{{app.APP_TITLE}}</ion-title>
        <ion-searchbar (search)="onSearch($event)" *ngIf="isSearchBar" showCancelButton="true" (ionCancel)="closeSearchBar()"></ion-searchbar>

        <ion-buttons end>
            <button ion-button margin-left icon-only (click)="setSearchBar()" *ngIf="!isSearchBar">
                <ion-icon name="search"></ion-icon>
            </button>
            <button ion-button icon-only (click)="goSettings()">
                <ion-icon md="md-settings" ios="md-settings"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar class="scrollable-segments">
        <ion-segment [(ngModel)]="activeTab">
            <ion-segment-button
                *ngFor="let tab of app.category"
                [value]="tab.id"
                (click)="changeTab(tab.id)">
                {{tab.name}}
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    
</ion-header>

<ion-content (ionScroll)="getScrollPosition()">

    <ion-refresher (ionRefresh)="loadNewsList($event, true)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                refreshingSpinner="crescent">
        </ion-refresher-content>
    </ion-refresher>

    <ion-card *ngFor="let news of newsList" class="news" (click)="goItemPage(news.uid)">
        <img [src]="'http://cloud.royalbulletin.com/' + news.mediaIds + '/' + news.mediaIds + '.png'"/>
        <ion-row padding-top padding-left [style.font-size]="app.fontSize+'px'">{{news.heading}}</ion-row>
        <ion-row padding-bottom padding-left [style.font-size]="(app.fontSize*0.7)+'px'">{{app.formatDate(news.date_updated)}}</ion-row>
    </ion-card>

    <div *ngIf="newsList.length==0 && !isInternet && errorMessage==null" text-center padding>
        <ion-spinner name="crescent"></ion-spinner>
    </div>

    <div *ngIf="errorMessage!=null" text-center>
        <h3>{{errorMessage}}</h3>
    </div>

    <div *ngIf="isInternet">
        <h4 text-center>No internet connection.</h4>
        <ion-row justify-content-center>
            <button col-4 ion-button icon-left color="general" (click)="checkInternet()">
                <ion-icon name="refresh"></ion-icon>
                Try again
            </button>
            <button ion-button col-4 color="general" (click)="goSavedNews()">
                Saved News
            </button>
        </ion-row>
    </div>

    <ion-infinite-scroll (ionInfinite)="loadNewsList($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab right bottom *ngIf="showFloat">
        <button ion-fab color="general" (click)="scrollToTop()"><ion-icon name="ios-arrow-up"></ion-icon></button>
    </ion-fab>
</ion-content>