.light-theme {
  .toolbar-title {
    color: #fff;
  }

  .header .toolbar-background {
    background-color: #C62828;
  }

  .header .icon{
    color:white;
  }
  .header ion-searchbar .icon {
    color: #222;
  }
}